.create-account {
    .small-font {
        font-size: 11px;
    }

    .which-country {
        padding: 10px 5px;
        background: #FFFFFF;
        border: 1px solid #D1D5DB;
        border-radius: 8px;
    }
}